@page
@model S2.AspNet.Repetition.Pages.MostRecentMemeModel
@{
    ViewData["Title"] = "MostRecentMeme";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Seneste meme</h2>

<div class="generatedMeme">
    <img src="@Model.MemeCreation.MemeImg.Url" />
    <div class="@Model.MemeCreation.Position @Model.MemeCreation.Size" style=" color: @Model.MemeCreation.Color">
        @Model.MemeCreation.MemeText
    </div>
</div>